<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/discordcommunitiesfav.png"/>

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description }}">

  <title>{{ site.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <style type="text/css">
    .blurple {
      color: #7289DA;
    }
    .greyple {
      color: #99AAB5;
    }
    .darkButNotBlack {
      color: #2C2F33;
    }
  </style>
</head>

<body style="font-family: 'Open Sans', sans-serif;">

  {{ content }}

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>See an issue or want to add a <a href="{{ site.discordUrl }}" class="blurple">Discord</a> Community? Fork it or create an issue on <a href="{{ site.repo }}" class="blurple">GitHub</a>.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Made by a <img src="/img/maple-leaf.png" style="width: 26px; height: 26px;"/></h4>
      </div>
    </div>
  </div>
</body>
</html>